<ion-view hide-nav-bar="true">
    <ion-content style="height: 100vh;width: 100vw">
        <div style="background:url('templates/login/login_img/944.jpg') #000;opacity: .9;color: #fff;height: 100vh;width: 100vw">
            <div class="row" style="height: 100%">
                <div style="width:100%;">
                    <button class="button button-icon ion-close-round" style="float: right;" ui-sref="tabs.store"></button>
                    <h1 style="color: #fff;height: 200px;line-height: 200px;text-align: center ;width: 100%">良仓</h1>
                    <p style="margin-top:-70px;text-align: center;width: 100%;">手机登录</p>
                    <div style="width: 80%;margin:30px 15% 0 10%;height: 50px;">
                        <input type="text" placeholder="请输入手机号" style="background: transparent;color:#fff;
                    float: left;border-bottom:1px solid #fff ;">
                        <a style="border: 1px solid #fff;float: right;color: #fff;
                    height: 34px;width: 100px;line-height: 34px;text-align: center;margin-left: 10px;cursor: pointer">获取验证码</a>
                    </div>
                    <input type="text" placeholder="6位验证码" style="color:#fff;background: transparent;
                    width: 80%;margin:10px 0 0 10%;border-bottom:1px solid #fff ;">
                    <button type="button" style="color: #fff;width: 80%;margin:50px 0 0 10%;height: 50px;line-height: 50px;background: transparent" ui-sref="tabs.store">立即登录</button>
                    <p style="line-height: 70px;text-align: center;font-size: 16px;color: #fff;">-首次登陆自动创建良仓账户-</p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>