<ion-tabs class="tabs-dark tabs-icon-top">
    <ion-tab title="商店"  icon="icon ion-bag" ui-sref="tabs.store">
        <ion-nav-view name="tab-store"></ion-nav-view>
    </ion-tab>
    <ion-tab title="杂志"  icon-on="ion-ios-book" icon-off="ion-ios-book-outline" ui-sref="tabs.notes">
        <ion-nav-view name="tab-notes"></ion-nav-view>
    </ion-tab>
    <ion-tab title="达人"  icon-on="ion-ios-star" icon-off="ion-ios-star-outline" ui-sref="tabs.master">
        <ion-nav-view name="tab-master"></ion-nav-view>
    </ion-tab>
    <!--<ion-tab title="购物车"  icon-on="ion-ios-cart" icon-off="ion-ios-cart-outline" ui-sref="tabs.checkOut">
        <ion-nav-view name="tabs-checkOut"></ion-nav-view>
    </ion-tab>-->
    <ion-tab title="个人"  icon-on="ion-ios-person" icon-off="ion-ios-person-outline" ui-sref="tabs.personal">
        <ion-nav-view name="tab-personal"></ion-nav-view>
    </ion-tab>
</ion-tabs>