<ion-view view-title="导航页" id="slider" hide-nav-bar="true">
    <ion-slide-box>
        <ion-slide>
            <img src="templates/tour/tour_img/936.jpg" style="width: 100%;height: 350px;border: 10px solid #fff">
            <div style="margin-top: 20%">
                <h3 style="text-align: center">意见领袖丶明星丶行家圈子</h3>
                <p style="text-align: center;line-height: 30px;margin-top: 30px;">分享生活灵感和心水好物<br>你从未如此深入了解他们的生活方式</p>
            </div>
        </ion-slide>
        <ion-slide>
            <img src="templates/tour/tour_img/938.jpg" style="width: 100%;height: 350px;border: 10px solid #fff">
            <div style="margin-top: 20%">
                <h3 style="text-align: center">最美好的生活物品</h3>
                <p style="text-align: center;line-height: 30px;margin-top: 30px;">正版授权，预约购买<br>每件物品都是生活的艺术</p>
            </div>
        </ion-slide>
        <ion-slide>
            <img src="templates/tour/tour_img/940.jpg" style="width: 100%;height: 350px;border: 10px solid #fff">
            <div style="margin-top: 20%">
                <h3 style="text-align: center">你的私人品味博物馆</h3>
                <p style="text-align: center;line-height: 30px;margin-top: 30px;">收藏你的品味之选<br>我的博物馆24小时为你开放</p>
            </div>
        </ion-slide>
        <ion-slide>
            <img src="templates/tour/tour_img/942.jpg" style="width: 100%;height: 350px;border: 10px solid #fff">
            <div style="margin-top: 20%">
                <h3 style="text-align: center">生活美学指南</h3>
                <p style="text-align: center;line-height: 30px;margin-top: 30px;">杂志+商店+社区<br>注册即可领取100元新用户尊享礼券</p>
            </div>
            </br>
            <button class="button button-positive button-outline" ui-sref="tabs.store" style="background: #eee">进入良仓</button>
        </ion-slide>
    </ion-slide-box>
</ion-view>