<ion-view hide-nav-bar="true">
    <ion-header-bar align-title="center" class="bar-dark">
        <button class="button button-icon ion-ios-search"></button>
        <h2 class="title">商店</h2>
        <button class="button button-icon ion-ios-cart-outline" ui-sref="login"></button>
    </ion-header-bar>
    <ion-content style="background: #444">
        <ion-slide-box does-continue="true" auto-play="true" slide-interval="2000" >
            <ion-slide>
                <div class="box" ui-sref="detail"><img src="templates/store/img_store/923.jpg" style=" width: 100%"></div>
            </ion-slide>
            <ion-slide>
                <div class="box" ui-sref="detail"><img src="templates/store/img_store/920.jpg" style="width: 100%"></div>
            </ion-slide>
            <ion-slide>
                <div class="box" ui-sref="detail"><img src="templates/store/img_store/909.jpg" style="width: 100%"></div>
            </ion-slide>
            <ion-slide>
                <div class="box" ui-sref="detail"><img src="templates/store/img_store/919.jpg" style="width: 100%"></div>
            </ion-slide>
        </ion-slide-box>
        <div class="row" style="padding: 0;margin-top: -6px">
            <div class="col" style="padding: 0"><img src="templates/store/img_store/25261.jpg" style="width: 100%"></div>
            <div class="col" style="padding: 0"><img src="templates/store/img_store/25262.jpg" style="width: 100%"></div>
        </div>
        <div class="row" style="padding: 0;margin-top: -6px;">
            <div class="col" style="padding: 0"><img src="templates/store/img_store/25263.jpg" style="width: 100%"></div>
            <div class="col" style="padding: 0"><img src="templates/store/img_store/25264.jpg" style="width: 100%"></div>
        </div>
        <div class="row" style="padding: 0;margin-top: -6px;">
            <div class="col" style="padding: 0"><img src="templates/store/img_store/25316.jpg" style="width: 100%"></div>
        </div>
        <div class="row" style="padding: 0;margin-top: -6px;">
            <div class="col" style="padding: 0"><img src="templates/store/img_store/25261.jpg" style="width: 100%"></div>
            <div class="col" style="padding: 0"><img src="templates/store/img_store/25264.jpg" style="width: 100%"></div>
        </div>
    </ion-content>
</ion-view>