<ion-view view-title="我的账户">
    <ion-content>
        <div class="row" style="background: url(templates/personal/personal_img/934.jpg) no-repeat;height: 300px;width: 100vw;
        padding: 0;">
            <div class="MTC" style="background: #000;opacity: .7;height: 300px;width: 100vw;">
                <div class="headPor" style="width: 80px;height: 80px;border-radius: 50%;background: #fff;opacity: 1;margin: 50px auto;">
                    <img src="templates/personal/personal_img/23679.png">
                </div>
                <input value="用户名" style="background: #4b8bf4;height: 36px;width: 60%;margin: 0 20%;
                text-align: center;line-height: 36px;border-radius: 5%;border: none">
                <div style="margin-top:20px;">
                    <div style="border: 1px #fff solid;width: 40%;height: 30px;border-radius: 5%;float: left;margin-left: 20px;">
                        <button class="button button-icon ion-ios-cart-outline" style="color: #fff;
                    font-size:24px;float: left;margin-top:-8px;margin-left: 10px;"></button>
                        <p style="color: #fff;float: right;line-height: 30px;margin-right: 20px;">我的订单</p>
                    </div>
                    <div style="border: 1px #fff solid;width: 40%;height: 30px;border-radius: 5%;float: left;margin-left: 20px;">
                        <button class="button button-icon ion-ios-cart-outline" style="color: #fff;
                    font-size:24px;float: left;margin-top:-8px;margin-left: 10px;"></button>
                        <p style="color: #fff;float: right;line-height: 30px;margin-right: 20px;">我的红包</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="padding: 0;height: 20vh; margin-top: 30px;text-align: center">
            <ion-item style="width: 50vh;border-top:none;border-left: none;line-height: 100px">我的心愿单</ion-item>
            <ion-item style="width: 50vh;border-top:none;border-right: none;line-height: 100px">我的消息</ion-item>
        </div>
        <div class="row" style="padding: 0;height: 20vh;text-align: center">
            <ion-item style="width: 50vh;border-bottom:none;border-left: none;line-height: 100px">地址管理</ion-item>
            <ion-item style="width: 50vh;border-bottom:none;border-right: none;line-height: 100px">良仓客服</ion-item>
        </div>
    </ion-content>
</ion-view>